/* Header.css */

header {
    width: min(100%, 1200px);
    margin-inline: auto;
    padding: 16px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 a {
        font-size: var(--fs-3xl);
        font-weight: var(--fw-b);
        color: transparent;
        background-image: var(--gradient-primary);
        background-clip: text;
    }

    & ul {
        display: flex;
        font-size: var(--fs-base);
        gap: var(--space-8);

        & li {
            list-style: none;

            & a {
                color: var(--clr-text);
                font-weight: var(--fw-sb);
            }
        }
    }

}
.btnContainer {
    display: flex;
    align-items: center;
    gap: var(--space-4);
}

.btnCart {
    background: unset;
    padding: unset;
    border: unset;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: var(--space-4);

    & span {
        --offset: calc(-1 * var(--space-4));

        background-color: var(--clr-secondary);
        color: var(--white);
        border-radius: var(--radius-full);
        padding-inline: var(--space-1);
        position: absolute;
        top: var(--offset);
        right: var(--offset);
    }
}

.btnLogin {
    border: unset;
    border-radius: unset;
    padding: unset;
}

.mainTrav {
    display: flex;
    gap: 16px;
    align-items: center;

    & svg {
        display: none;
        cursor: pointer;
        overflow: visible;

        & line {
            transform-origin: center;
            transform-box: fill-box;
            transition: transform 300ms, stroke-width 300ms;
        }

        & .sLine {
            transform-origin: 0px 0px;
            transform: scaleX(1);
        }
    }

    &[data-open="true"] svg {
        & .fLine {
            transform: translateY(10px) rotate(45deg);
        }

        & .sLine {
            transform-origin: 0px 0px;
            transform: scaleX(0);
        }

        & .tLine {
            transform: translateY(-10px) rotate(-45deg);
        }
    }
}

@media only screen and (width <= 56rem) {
    .mainTrav svg {
        display: block;
    }

    header .menu {
        background-color: var(--white);
        padding: 8px 16px;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: -90%;
        transition: left 300ms;
    }

    header .menu[data-open="true"] {
        left: 3%;
    }
}

@media only screen and (width <= 28rem) {
    .btnContainer {
        gap: var(--space-2);

        & >:last-child {
            padding: 4px 6px;
        }
    }
}
